.DocumentEditor {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.DocumentEditor-controls {
  border: 1px solid;
  width: 500px;
}

.DocumentEditor-text {
  resize: none;
  width: 70%;
  height: 200px;
}

.DocumentEditor-selection {
  margin: 10px;
}

.DocumentEditor-revisionsList {
  flex-basis: | 0;
  text-align: left;
}
