<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form method="POST" action="/sign_up">
    <input type="text" name="email" placeholder="Email" value="{{ email }}" />
    <input type="password" name="password" placeholder="Password" value="{{ password }}" />
    <input type="password" name="password_confirmation" placeholder="Confirm Password" value="{{ password_confirmation }}" />
    <input type="submit" value="Submit" />
  </form>
  <div>
    {{ error_message }}
  </div>
  <div>
    Already have an account? <a href="/log_in">Log In</a>.
  </div>
</body>
</html>
